{
  "openapi": "3.1.0",
  "info": {
    "title": "Robinhood Brokerage API Map",
    "version": "1.0.0",
    "description": "Personal Robinhood brokerage/account API map from reverse-engineered routes and sanitized authenticated browser capture. This repo can execute live with caller-owned auth; pass dryRun/--dry-run for non-sending tests. Made with love by Zayd Khan / cold."
  },
  "servers": [
    {
      "url": "https://api.robinhood.com"
    },
    {
      "url": "https://nummus.robinhood.com"
    },
    {
      "url": "https://bonfire.robinhood.com"
    },
    {
      "url": "https://minerva.robinhood.com"
    },
    {
      "url": "https://phoenix.robinhood.com"
    }
  ],
  "tags": [
    {
      "name": "account",
      "description": "Account routes from the brokerage route map."
    },
    {
      "name": "agreements",
      "description": "Agreements routes from the brokerage route map."
    },
    {
      "name": "auth",
      "description": "Auth routes from the brokerage route map."
    },
    {
      "name": "cash",
      "description": "Cash routes from the brokerage route map."
    },
    {
      "name": "data",
      "description": "Data routes from the brokerage route map."
    },
    {
      "name": "discovery",
      "description": "Discovery routes from the brokerage route map."
    },
    {
      "name": "dividends",
      "description": "Dividends routes from the brokerage route map."
    },
    {
      "name": "equity",
      "description": "Equity routes from the brokerage route map."
    },
    {
      "name": "futures",
      "description": "Futures routes from the brokerage route map."
    },
    {
      "name": "history-documents",
      "description": "History Documents routes from the brokerage route map."
    },
    {
      "name": "instruments",
      "description": "Instruments routes from the brokerage route map."
    },
    {
      "name": "ipo-access",
      "description": "Ipo Access routes from the brokerage route map."
    },
    {
      "name": "margin",
      "description": "Margin routes from the brokerage route map."
    },
    {
      "name": "marketdata",
      "description": "Marketdata routes from the brokerage route map."
    },
    {
      "name": "money-movement",
      "description": "Money Movement routes from the brokerage route map."
    },
    {
      "name": "news",
      "description": "News routes from the brokerage route map."
    },
    {
      "name": "notifications",
      "description": "Notifications routes from the brokerage route map."
    },
    {
      "name": "options",
      "description": "Options routes from the brokerage route map."
    },
    {
      "name": "orders",
      "description": "Orders routes from the brokerage route map."
    },
    {
      "name": "preview",
      "description": "Preview routes from the brokerage route map."
    },
    {
      "name": "quotes",
      "description": "Quotes routes from the brokerage route map."
    },
    {
      "name": "recurring",
      "description": "Recurring routes from the brokerage route map."
    },
    {
      "name": "reference",
      "description": "Reference routes from the brokerage route map."
    },
    {
      "name": "roll",
      "description": "Roll routes from the brokerage route map."
    },
    {
      "name": "search",
      "description": "Search routes from the brokerage route map."
    },
    {
      "name": "sentiment",
      "description": "Sentiment routes from the brokerage route map."
    },
    {
      "name": "settings",
      "description": "Settings routes from the brokerage route map."
    },
    {
      "name": "stock-lending",
      "description": "Stock Lending routes from the brokerage route map."
    },
    {
      "name": "telemetry-config",
      "description": "Telemetry Config routes from the brokerage route map."
    },
    {
      "name": "trading",
      "description": "Trading routes from the brokerage route map."
    },
    {
      "name": "uncategorized",
      "description": "Uncategorized routes from the brokerage route map."
    },
    {
      "name": "unknown",
      "description": "Unknown routes from the brokerage route map."
    },
    {
      "name": "watchlists",
      "description": "Watchlists routes from the brokerage route map."
    }
  ],
  "paths": {
    "/acats-aggregation/fee_reimbursements/history": {
      "get": {
        "operationId": "brokerage_get_acats_aggregation_fee_reimbursements_history",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/acats-aggregation/fee_reimbursements/history"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ],
        "x-robinhood-observation-count": 1,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/acats/": {
      "get": {
        "operationId": "brokerage_get_acats",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [
          {
            "name": "both_directions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "null"
                    },
                    "previous": {
                      "type": "null"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {},
                          {
                            "type": "object",
                            "properties": {
                              "assets": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "asset_id": {
                                      "anyOf": [
                                        {
                                          "type": "null"
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    },
                                    "asset_type": {
                                      "type": "string"
                                    },
                                    "direction": {
                                      "type": "string"
                                    },
                                    "instrument_id": {
                                      "anyOf": [
                                        {
                                          "type": "null"
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    },
                                    "iso_currency_code": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "quantity": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              },
                              "bonus_match": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "cash_advance_grant_date": {
                                "type": "null"
                              },
                              "contra_account_name": {
                                "type": "string"
                              },
                              "contra_account_number": {
                                "type": "string"
                              },
                              "contra_broker_logo": {
                                "type": "string"
                              },
                              "contra_broker_name": {
                                "type": "string"
                              },
                              "contra_dtcc_number": {
                                "type": "string"
                              },
                              "control_number": {
                                "type": "string"
                              },
                              "direction": {
                                "type": "string"
                              },
                              "{dynamic_key}": {
                                "type": "null"
                              },
                              "estimated_settlement_date": {
                                "type": "string"
                              },
                              "gold_deposit_boost": {
                                "type": "null"
                              },
                              "id": {
                                "type": "string"
                              },
                              "last_activity_at": {
                                "type": "string"
                              },
                              "market_value": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "phase": {
                                "type": "string"
                              },
                              "reject_reason": {
                                "type": "string"
                              },
                              "reject_reason_enum": {
                                "type": "null"
                              },
                              "requested_at": {
                                "type": "string"
                              },
                              "retry_steps": {
                                "type": "null"
                              },
                              "rhs_account_number": {
                                "type": "string"
                              },
                              "settlement_date": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "transfer_type": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": true
                          }
                        ]
                      }
                    },
                    "prev": {
                      "type": "null"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com",
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/acats/",
          "https://bonfire.robinhood.com/acats/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "account-transfers"
        ],
        "x-robinhood-observation-count": 2,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/account_switcher/instrument/v2/{uuid}/": {
      "get": {
        "operationId": "brokerage_get_account_switcher_instrument_v2_uuid",
        "summary": "Unknown brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/account_switcher/instrument/v2/{uuid}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ],
        "x-robinhood-observation-count": 1,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/": {
      "get": {
        "operationId": "brokerage_get_accounts",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "default_to_all_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_managed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_multiple_individual",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_multiple_individual_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "is_default",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "null"
                    },
                    "previous": {
                      "type": "null"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "account_number": {
                                "type": "string"
                              },
                              "active_subscription_id": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "advisory_account_variant": {
                                "type": "null"
                              },
                              "affiliate": {
                                "type": "string"
                              },
                              "agentic_allowed": {
                                "type": "boolean"
                              },
                              "agentic_audience": {
                                "type": "string"
                              },
                              "{dynamic_key}": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "boolean"
                                  }
                                ]
                              },
                              "brokerage_account_type": {
                                "type": "string"
                              },
                              "buying_power": {
                                "type": "string"
                              },
                              "can_downgrade_to_cash": {
                                "type": "string"
                              },
                              "car_valid_until": {
                                "type": "string"
                              },
                              "cash": {
                                "type": "string"
                              },
                              "cash_available_for_withdrawal": {
                                "type": "string"
                              },
                              "cash_available_trading_only": {
                                "type": "boolean"
                              },
                              "cash_balances": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "backup_withholding_total": {
                                        "type": "string"
                                      },
                                      "buying_power": {
                                        "type": "string"
                                      },
                                      "cash": {
                                        "type": "string"
                                      },
                                      "cash_available_for_withdrawal": {
                                        "type": "string"
                                      },
                                      "cash_held_for_crypto_orders": {
                                        "type": "string"
                                      },
                                      "cash_held_for_dividends": {
                                        "type": "string"
                                      },
                                      "{dynamic_key}": {
                                        "type": "string"
                                      },
                                      "cash_held_for_orders": {
                                        "type": "string"
                                      },
                                      "cash_held_for_restrictions": {
                                        "type": "string"
                                      },
                                      "created_at": {
                                        "type": "string"
                                      },
                                      "crypto_buying_power": {
                                        "type": "string"
                                      },
                                      "eligible_deposit_as_instant": {
                                        "type": "string"
                                      },
                                      "funding_hold_balance": {
                                        "type": "string"
                                      },
                                      "instant_allocated": {
                                        "type": "string"
                                      },
                                      "instant_used": {
                                        "type": "string"
                                      },
                                      "is_pdt_forever": {
                                        "type": "boolean"
                                      },
                                      "is_primary_account": {
                                        "type": "boolean"
                                      },
                                      "marked_pattern_day_trader_date": {
                                        "type": "string"
                                      },
                                      "net_moving_cash": {
                                        "type": "string"
                                      },
                                      "outstanding_interest": {
                                        "type": "string"
                                      },
                                      "pattern_day_trader_expiry_date": {
                                        "type": "string"
                                      },
                                      "pending_deposit": {
                                        "type": "string"
                                      },
                                      "portfolio_cash": {
                                        "type": "string"
                                      },
                                      "settled_amount_borrowed": {
                                        "type": "string"
                                      },
                                      "uncleared_deposits": {
                                        "type": "string"
                                      },
                                      "uncleared_nummus_deposits": {
                                        "type": "string"
                                      },
                                      "unsettled_debit": {
                                        "type": "string"
                                      },
                                      "unsettled_funds": {
                                        "type": "string"
                                      },
                                      "updated_at": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": true
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "cash_held_for_orders": {
                                "type": "string"
                              },
                              "cash_management_enabled": {
                                "type": "boolean"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "crypto_buying_power": {
                                "type": "string"
                              },
                              "deactivated": {
                                "type": "boolean"
                              },
                              "deposit_halted": {
                                "type": "boolean"
                              },
                              "disable_adt": {
                                "type": "boolean"
                              },
                              "drip_enabled": {
                                "type": "boolean"
                              },
                              "dynamic_instant_limit": {
                                "type": "string"
                              },
                              "eligible_for_cash_management": {
                                "type": "boolean"
                              },
                              "eligible_for_drip": {
                                "type": "boolean"
                              },
                              "eligible_for_fractionals": {
                                "type": "boolean"
                              },
                              "equity_trading_lock": {
                                "type": "string"
                              },
                              "group_id": {
                                "type": "null"
                              },
                              "group_type": {
                                "type": "null"
                              },
                              "has_futures_account": {
                                "type": "boolean"
                              },
                              "instant_eligibility": {
                                "type": "object",
                                "properties": {
                                  "additional_deposit_needed": {
                                    "type": "string"
                                  },
                                  "compliance_user_major_oak_email": {
                                    "type": "string"
                                  },
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "created_by": {
                                    "type": "string"
                                  },
                                  "reason": {
                                    "type": "string"
                                  },
                                  "reinstatement_date": {
                                    "type": "null"
                                  },
                                  "reversal": {
                                    "type": "null"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "updated_at": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": true
                              },
                              "ipo_access_restricted": {
                                "type": "boolean"
                              },
                              "ipo_access_restricted_reason": {
                                "type": "null"
                              },
                              "is_default": {
                                "type": "boolean"
                              },
                              "is_limited_margin": {
                                "type": "boolean"
                              },
                              "is_original": {
                                "type": "boolean"
                              },
                              "is_pinnacle_account": {
                                "type": "boolean"
                              },
                              "locked": {
                                "type": "boolean"
                              },
                              "management_type": {
                                "type": "string"
                              },
                              "margin_balances": {
                                "anyOf": [
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "cash": {
                                        "type": "string"
                                      },
                                      "cash_available_for_withdrawal": {
                                        "type": "string"
                                      },
                                      "cash_held_for_crypto_orders": {
                                        "type": "string"
                                      },
                                      "cash_held_for_dividends": {
                                        "type": "string"
                                      },
                                      "{dynamic_key}": {
                                        "type": "string"
                                      },
                                      "cash_held_for_orders": {
                                        "type": "string"
                                      },
                                      "cash_held_for_restrictions": {
                                        "type": "string"
                                      },
                                      "created_at": {
                                        "type": "string"
                                      },
                                      "crypto_buying_power": {
                                        "type": "string"
                                      },
                                      "day_trade_buying_power": {
                                        "type": "string"
                                      },
                                      "day_trade_ratio": {
                                        "type": "string"
                                      },
                                      "day_trades_protection": {
                                        "type": "boolean"
                                      },
                                      "eligible_deposit_as_instant": {
                                        "type": "string"
                                      },
                                      "funding_hold_balance": {
                                        "type": "string"
                                      },
                                      "gold_equity_requirement": {
                                        "type": "string"
                                      },
                                      "instant_allocated": {
                                        "type": "string"
                                      },
                                      "instant_used": {
                                        "type": "string"
                                      },
                                      "intraday_leverage_enabled": {
                                        "type": "boolean"
                                      },
                                      "is_pdt_forever": {
                                        "type": "boolean"
                                      },
                                      "is_primary_account": {
                                        "type": "boolean"
                                      },
                                      "leverage_enabled": {
                                        "type": "boolean"
                                      },
                                      "margin_limit": {
                                        "type": "null"
                                      },
                                      "margin_withdrawal_limit": {
                                        "type": "null"
                                      },
                                      "marked_pattern_day_trader_date": {
                                        "type": "string"
                                      },
                                      "net_moving_cash": {
                                        "type": "string"
                                      },
                                      "outstanding_interest": {
                                        "type": "string"
                                      },
                                      "overnight_buying_power": {
                                        "type": "string"
                                      },
                                      "overnight_ratio": {
                                        "type": "string"
                                      },
                                      "pattern_day_trader_expiry_date": {
                                        "type": "string"
                                      },
                                      "pending_debit_card_debits": {
                                        "type": "string"
                                      },
                                      "pending_deposit": {
                                        "type": "string"
                                      },
                                      "portfolio_cash": {
                                        "type": "string"
                                      },
                                      "settled_amount_borrowed": {
                                        "type": "string"
                                      },
                                      "short_cash": {
                                        "type": "string"
                                      },
                                      "short_cash_held": {
                                        "type": "string"
                                      },
                                      "short_unsettled_credit": {
                                        "type": "string"
                                      },
                                      "short_unsettled_debit": {
                                        "type": "string"
                                      },
                                      "sma": {
                                        "type": "string"
                                      },
                                      "start_of_day_dtbp": {
                                        "type": "string"
                                      },
                                      "unallocated_margin_cash": {
                                        "type": "string"
                                      },
                                      "uncleared_deposits": {
                                        "type": "string"
                                      },
                                      "uncleared_nummus_deposits": {
                                        "type": "string"
                                      },
                                      "unsettled_debit": {
                                        "type": "string"
                                      },
                                      "unsettled_funds": {
                                        "type": "string"
                                      },
                                      "updated_at": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": true
                                  }
                                ]
                              },
                              "max_ach_early_access_amount": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "onbp": {
                                "type": "string"
                              },
                              "only_position_closing_trades": {
                                "type": "boolean"
                              },
                              "option_level": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "option_trading_lock": {
                                "type": "string"
                              },
                              "permanently_deactivated": {
                                "type": "boolean"
                              },
                              "portfolio_cash": {
                                "type": "string"
                              },
                              "received_ach_debit_locked": {
                                "type": "boolean"
                              },
                              "ref_id": {
                                "type": "string"
                              },
                              "rhs_account_number": {
                                "type": "integer"
                              },
                              "sma": {
                                "anyOf": [
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ]
                              },
                              "sma_held_for_orders": {
                                "anyOf": [
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ]
                              },
                              "state": {
                                "type": "string"
                              },
                              "sweep_enabled": {
                                "type": "boolean"
                              },
                              "sweep_enrolled": {
                                "type": "boolean"
                              },
                              "type": {
                                "type": "string"
                              },
                              "uncleared_deposits": {
                                "type": "string"
                              },
                              "unsettled_debit": {
                                "type": "string"
                              },
                              "unsettled_funds": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "user": {
                                "type": "string"
                              },
                              "user_dynamic_instant_limit": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "string"
                              },
                              "user_real_instant_limit": {
                                "type": "string"
                              },
                              "withdrawal_halted": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": true
                          },
                          {},
                          {
                            "type": "object",
                            "properties": {
                              "account_number": {
                                "type": "string"
                              },
                              "account_type": {
                                "type": "string"
                              },
                              "agentic_allowed": {
                                "type": "boolean"
                              },
                              "agentic_audience": {
                                "type": "string"
                              },
                              "apex_account_number": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "feature_statuses": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "created_at": {
                                      "type": "string"
                                    },
                                    "feature": {
                                      "type": "string"
                                    },
                                    "reason_code": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "updated_at": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              },
                              "first_trade_cooldown_expires_at": {
                                "type": "string"
                              },
                              "funding_sources": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "feature_statuses": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "funding_source_id": {
                                      "type": "string"
                                    },
                                    "funding_source_type": {
                                      "type": "string"
                                    },
                                    "rhs_account_number": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "is_default": {
                                "type": "boolean"
                              },
                              "is_original": {
                                "type": "boolean"
                              },
                              "rhs_account_number": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "status_reason_code": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": true
                          }
                        ]
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com",
          "minerva.robinhood.com",
          "nummus.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/",
          "https://api.robinhood.com/accounts/?default_to_all_accounts=true",
          "https://minerva.robinhood.com/accounts/",
          "https://nummus.robinhood.com/accounts/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2",
          "community-seed"
        ],
        "x-robinhood-seen-on": [
          "account-contact",
          "account-documents",
          "account-history",
          "account-investing",
          "account-notifications",
          "account-recurring",
          "account-reports-statements",
          "account-root",
          "account-security",
          "account-settings",
          "account-statements",
          "account-stock-lending",
          "account-tax-center",
          "account-transfers",
          "crypto-btc",
          "etf-qqq",
          "etf-spy",
          "legend-layout",
          "markets",
          "options-chain-xbi",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-nvda-options",
          "stock-tsla"
        ],
        "x-robinhood-observation-count": 79,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/{account_number}/": {
      "get": {
        "operationId": "brokerage_get_accounts_account_number",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder account_number. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/{account_number}/"
        ],
        "x-robinhood-sources": [
          "live-verified-2026-06-11 (per-account detail",
          "the bulk accounts/ endpoints omit some owned accounts — this is the type/cash fallback for those)"
        ],
        "x-robinhood-seen-on": []
      }
    },
    "/accounts/{account_number}/buying_power_breakdown": {
      "get": {
        "operationId": "brokerage_get_accounts_account_number_buying_power_breakdown",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder account_number. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_number": {
                      "type": "string"
                    },
                    "account_type": {
                      "type": "string"
                    },
                    "active_subscription": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "credit": {
                          "type": "string"
                        },
                        "ended_at": {
                          "type": "null"
                        },
                        "id": {
                          "type": "string"
                        },
                        "plan": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "instant_deposit_limit": {
                              "type": "string"
                            },
                            "margin_interest": {
                              "type": "string"
                            },
                            "monthly_cost": {
                              "type": "string"
                            },
                            "subscription_margin_limit": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": true
                        },
                        "renewal_date": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "user_set_margin_limit": {
                          "type": "string"
                        },
                        "{dynamic_key}": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "breakdown": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "native_value": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string"
                                  },
                                  "currency_code": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": true
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "title": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "buying_power": {
                      "type": "string"
                    },
                    "case": {
                      "type": "string"
                    },
                    "deficit": {
                      "type": "string"
                    },
                    "display_currency": {
                      "type": "string"
                    },
                    "explanation": {
                      "type": "null"
                    },
                    "held_deposits": {
                      "type": "string"
                    },
                    "intraday_buying_power": {
                      "type": "null"
                    },
                    "leverage_enabled": {
                      "type": "boolean"
                    },
                    "{dynamic_key}": {
                      "type": "boolean"
                    },
                    "off_intraday_buying_power": {
                      "type": "null"
                    },
                    "unleveraged_buying_power": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/{account_number}/buying_power_breakdown"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "legend-layout",
          "portfolio-home"
        ],
        "x-robinhood-observation-count": 2,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/{account_number}/options_buying_power": {
      "get": {
        "operationId": "brokerage_get_accounts_account_number_options_buying_power",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account",
          "options"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder account_number. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{account_number}/options_buying_power"
        ],
        "x-robinhood-sources": [
          "cdp-2026-06-04-dram-option-order-flow (observed",
          "the real options-BP gate the web reads before an option open)"
        ],
        "x-robinhood-seen-on": [
          "option-order-ticket"
        ]
      }
    },
    "/accounts/{account_number}/sweep_enrollment_state/": {
      "get": {
        "operationId": "brokerage_get_accounts_account_number_sweep_enrollment_state",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account",
          "cash",
          "settings"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder account_number. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/{account_number}/sweep_enrollment_state/"
        ],
        "x-robinhood-sources": [
          "settings-capture-2026-06-03"
        ],
        "x-robinhood-seen-on": []
      },
      "post": {
        "operationId": "brokerage_post_accounts_account_number_sweep_enrollment_state",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: write-mutate. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account",
          "cash",
          "settings"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder account_number. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "write-mutate",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/{account_number}/sweep_enrollment_state/"
        ],
        "x-robinhood-sources": [
          "settings-capture-2026-06-03"
        ],
        "x-robinhood-seen-on": []
      }
    },
    "/accounts/{id}/{id}": {
      "get": {
        "operationId": "brokerage_get_accounts_id_id",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/{id}"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root"
        ]
      }
    },
    "/accounts/{id}/currency_buying_power/{uuid}/info_alert": {
      "get": {
        "operationId": "brokerage_get_accounts_id_currency_buying_power_uuid_info_alert",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alert": {
                      "type": "object",
                      "properties": {
                        "action_buttons": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "action": {
                                "type": "null"
                              },
                              "logging_identifier": {
                                "type": "string"
                              },
                              "style": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "typed_action": {
                                "type": "object",
                                "properties": {
                                  "action_data": {
                                    "type": "null"
                                  },
                                  "action_type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "display_type": {
                          "type": "null"
                        },
                        "image": {
                          "type": "null"
                        },
                        "subtitle": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/currency_buying_power/{uuid}/info_alert"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ],
        "x-robinhood-observation-count": 1,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/{id}/currency_buying_power/USD": {
      "get": {
        "operationId": "brokerage_get_accounts_id_currency_buying_power_usd",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_number": {
                      "type": "string"
                    },
                    "aggregated_buying_power": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "{dynamic_key}": {
                      "type": "null"
                    },
                    "aggregated_total_balance": {
                      "type": "null"
                    },
                    "buying_power": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "currency_code": {
                      "type": "string"
                    },
                    "estimated_pending_funds": {
                      "type": "null"
                    },
                    "exchange_rate_to_usd": {
                      "type": "null"
                    },
                    "pending_crypto_orders_amount": {
                      "type": "null"
                    },
                    "pending_instant_credits_amount": {
                      "type": "null"
                    },
                    "pending_orders_amount": {
                      "type": "null"
                    },
                    "pending_withdrawals_amount": {
                      "type": "null"
                    },
                    "primary_executed_bp": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "reward_locked": {
                      "type": "null"
                    },
                    "total_balance": {
                      "type": "null"
                    },
                    "withdrawal_power": {
                      "type": "null"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/currency_buying_power/USD"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ],
        "x-robinhood-observation-count": 1,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/{id}/currency_buying_power/USD/": {
      "get": {
        "operationId": "brokerage_get_accounts_id_currency_buying_power_usd",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_number": {
                      "type": "string"
                    },
                    "aggregated_buying_power": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "{dynamic_key}": {
                      "type": "null"
                    },
                    "aggregated_total_balance": {
                      "type": "null"
                    },
                    "buying_power": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "currency_code": {
                      "type": "string"
                    },
                    "estimated_pending_funds": {
                      "type": "null"
                    },
                    "exchange_rate_to_usd": {
                      "type": "null"
                    },
                    "pending_crypto_orders_amount": {
                      "type": "null"
                    },
                    "pending_instant_credits_amount": {
                      "type": "null"
                    },
                    "pending_orders_amount": {
                      "type": "null"
                    },
                    "pending_withdrawals_amount": {
                      "type": "null"
                    },
                    "primary_executed_bp": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "reward_locked": {
                      "type": "null"
                    },
                    "total_balance": {
                      "type": "null"
                    },
                    "withdrawal_power": {
                      "type": "null"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/currency_buying_power/USD/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "legend-layout",
          "portfolio-home"
        ],
        "x-robinhood-observation-count": 2,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/{id}/instrument_buying_power/{uuid}/": {
      "get": {
        "operationId": "brokerage_get_accounts_id_instrument_buying_power_uuid",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_number": {
                      "type": "string"
                    },
                    "buying_power": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "display_currency": {
                      "type": "string"
                    },
                    "instrument_id": {
                      "type": "string"
                    },
                    "order_to_replace_id": {
                      "type": "null"
                    },
                    "short_selling_power": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string"
                            },
                            "currency_code": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": true
                        }
                      ]
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/instrument_buying_power/{uuid}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "account-recurring",
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ],
        "x-robinhood-observation-count": 24,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/{id}/options_buying_power/": {
      "get": {
        "operationId": "brokerage_get_accounts_id_options_buying_power",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_number": {
                      "type": "string"
                    },
                    "buying_power": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    },
                    "order_to_replace_id": {
                      "type": "null"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/options_buying_power/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "legend-layout",
          "portfolio-home"
        ],
        "x-robinhood-observation-count": 2,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/{id}/unified/": {
      "get": {
        "operationId": "brokerage_get_accounts_id_unified",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/unified/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "etf-qqq",
          "etf-spy",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ],
        "x-robinhood-observation-count": 1,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/{param_0}/recent_day_trades/": {
      "get": {
        "operationId": "brokerage_get_accounts_param_0_recent_day_trades",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "param_0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder param_0. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_number": {
                      "type": "string"
                    },
                    "equity_day_trades": {
                      "type": "array",
                      "items": {}
                    },
                    "option_day_trades": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/{0}/recent_day_trades/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ],
        "x-robinhood-observation-count": 1,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/stock_loan_payments/": {
      "get": {
        "operationId": "brokerage_get_accounts_stock_loan_payments",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "account_numbers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "previous": {
                      "type": "null"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {},
                          {
                            "type": "object",
                            "properties": {
                              "account_number": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string"
                                  },
                                  "currency_code": {
                                    "type": "string"
                                  },
                                  "currency_id": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": true
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "instrument_id": {
                                "type": "string"
                              },
                              "record_date": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": true
                          }
                        ]
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/stock_loan_payments/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized",
          "cdp-2026-07-14-authenticated-sanitized-v2"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ],
        "x-robinhood-observation-count": 2,
        "x-robinhood-auth-observed": true,
        "security": [
          {
            "brokerageToken": []
          },
          {
            "browserCookie": []
          }
        ]
      }
    },
    "/accounts/sweeps/": {
      "get": {
        "operationId": "brokerage_get_accounts_sweeps",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_numbers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "default_to_all_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_managed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized response shape observed in authenticated browser traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "null"
                    },
                    "previous": {
                      "type": "null"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_number": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string"
                              },
                              "currency_code": {
                                "type": "string"
                              },
                              "currency_id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": true
                          },
                          "direction": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "pay_date": {
                            "type": "string"
                          },
                          "pay_period_end": {
                            "type": "string"
                          },
                          "pay_period_start": {
                            "type": "string"
                          },
                          "payout_type": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          }
                        },
[...]
