{
  "openapi": "3.1.0",
  "info": {
    "title": "Robinhood Brokerage Seed API Map",
    "version": "0.1.0",
    "description": "Personal Robinhood brokerage/account API map from community seed routes and sanitized authenticated browser capture. This repo can execute live with caller-owned auth; pass dryRun/--dry-run for non-sending tests."
  },
  "servers": [
    {
      "url": "https://api.robinhood.com"
    },
    {
      "url": "https://nummus.robinhood.com"
    },
    {
      "url": "https://bonfire.robinhood.com"
    },
    {
      "url": "https://minerva.robinhood.com"
    },
    {
      "url": "https://phoenix.robinhood.com"
    }
  ],
  "tags": [
    {
      "name": "account",
      "description": "Account routes from the brokerage seed map."
    },
    {
      "name": "auth",
      "description": "Auth routes from the brokerage seed map."
    },
    {
      "name": "history-documents",
      "description": "History Documents routes from the brokerage seed map."
    },
    {
      "name": "marketdata",
      "description": "Marketdata routes from the brokerage seed map."
    },
    {
      "name": "money-movement",
      "description": "Money Movement routes from the brokerage seed map."
    },
    {
      "name": "notifications",
      "description": "Notifications routes from the brokerage seed map."
    },
    {
      "name": "options",
      "description": "Options routes from the brokerage seed map."
    },
    {
      "name": "orders",
      "description": "Orders routes from the brokerage seed map."
    },
    {
      "name": "telemetry-config",
      "description": "Telemetry Config routes from the brokerage seed map."
    },
    {
      "name": "unknown",
      "description": "Unknown routes from the brokerage seed map."
    },
    {
      "name": "watchlists",
      "description": "Watchlists routes from the brokerage seed map."
    }
  ],
  "paths": {
    "/acats-aggregation/fee_reimbursements/history": {
      "get": {
        "operationId": "brokerage_get_acats_aggregation_fee_reimbursements_history",
        "summary": "Money Movement seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/acats-aggregation/fee_reimbursements/history"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ]
      }
    },
    "/acats/": {
      "get": {
        "operationId": "brokerage_get_acats",
        "summary": "Money Movement seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [
          {
            "name": "both_directions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com",
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/acats/",
          "https://bonfire.robinhood.com/acats/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "account-transfers"
        ]
      }
    },
    "/account_switcher/instrument/v2/{uuid}/": {
      "get": {
        "operationId": "brokerage_get_account_switcher_instrument_v2_uuid",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/account_switcher/instrument/v2/{uuid}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/accounts/": {
      "get": {
        "operationId": "brokerage_get_accounts",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "default_to_all_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_managed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_multiple_individual",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_multiple_individual_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "is_default",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com",
          "minerva.robinhood.com",
          "nummus.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/",
          "https://api.robinhood.com/accounts/?default_to_all_accounts=true",
          "https://minerva.robinhood.com/accounts/",
          "https://nummus.robinhood.com/accounts/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized",
          "community-seed"
        ],
        "x-robinhood-seen-on": [
          "account-contact",
          "account-documents",
          "account-history",
          "account-notifications",
          "account-root",
          "account-security",
          "account-settings",
          "account-statements",
          "account-transfers",
          "crypto-btc",
          "etf-qqq",
          "etf-spy",
          "markets",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-nvda-options",
          "stock-tsla"
        ]
      }
    },
    "/accounts/{id}/{id}": {
      "get": {
        "operationId": "brokerage_get_accounts_id_id",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/{id}"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root"
        ]
      }
    },
    "/accounts/{id}/currency_buying_power/{uuid}/info_alert": {
      "get": {
        "operationId": "brokerage_get_accounts_id_currency_buying_power_uuid_info_alert",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/currency_buying_power/{uuid}/info_alert"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ]
      }
    },
    "/accounts/{id}/currency_buying_power/USD": {
      "get": {
        "operationId": "brokerage_get_accounts_id_currency_buying_power_usd",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/currency_buying_power/USD"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ]
      }
    },
    "/accounts/{id}/instrument_buying_power/{uuid}/": {
      "get": {
        "operationId": "brokerage_get_accounts_id_instrument_buying_power_uuid",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/instrument_buying_power/{uuid}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/accounts/{id}/unified/": {
      "get": {
        "operationId": "brokerage_get_accounts_id_unified",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/unified/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "etf-qqq",
          "etf-spy",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/accounts/{num}/buying_power_breakdown": {
      "get": {
        "operationId": "brokerage_get_accounts_num_buying_power_breakdown",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder num. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/{num}/buying_power_breakdown"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "portfolio-home"
        ]
      }
    },
    "/accounts/{param_0}/recent_day_trades/": {
      "get": {
        "operationId": "brokerage_get_accounts_param_0_recent_day_trades",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "param_0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder param_0. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/{0}/recent_day_trades/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ]
      }
    },
    "/accounts/stock_loan_payments/": {
      "get": {
        "operationId": "brokerage_get_accounts_stock_loan_payments",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "account_numbers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/stock_loan_payments/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/accounts/sweeps/": {
      "get": {
        "operationId": "brokerage_get_accounts_sweeps",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_numbers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "default_to_all_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_managed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/sweeps/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ]
      }
    },
    "/accounts/sweeps/interest/": {
      "get": {
        "operationId": "brokerage_get_accounts_sweeps_interest",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/sweeps/interest/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root",
          "portfolio-home",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/accounts/sweeps/timeline_summary/": {
      "get": {
        "operationId": "brokerage_get_accounts_sweeps_timeline_summary",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/sweeps/timeline_summary/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/accounts/unified": {
      "get": {
        "operationId": "brokerage_get_accounts_unified",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "phoenix.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://phoenix.robinhood.com/accounts/unified"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": []
      }
    },
    "/ach/deposit_schedules/": {
      "get": {
        "operationId": "brokerage_get_ach_deposit_schedules",
        "summary": "Money Movement seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "cashier.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://cashier.robinhood.com/ach/deposit_schedules/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-transfers"
        ]
      }
    },
    "/ach/received/transfers/": {
      "get": {
        "operationId": "brokerage_get_ach_received_transfers",
        "summary": "Money Movement seed route",
        "description": "Personal route map entry. Risk: read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ach/received/transfers/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": []
      }
    },
    "/ach/relationships/": {
      "get": {
        "operationId": "brokerage_get_ach_relationships",
        "summary": "Money Movement seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [
          {
            "name": "exclude_unlinked",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "cashier.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://cashier.robinhood.com/ach/relationships/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-transfers"
        ]
      },
      "post": {
        "operationId": "brokerage_post_ach_relationships",
        "summary": "Money Movement seed route",
        "description": "Personal route map entry. Risk: write-or-sensitive. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "write-or-sensitive",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ach/relationships/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": []
      }
    },
    "/ach/relationships/{param_0}/": {
      "post": {
        "operationId": "brokerage_post_ach_relationships_param_0",
        "summary": "Money Movement seed route",
        "description": "Personal route map entry. Risk: write-or-sensitive. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [
          {
            "name": "param_0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder param_0. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "write-or-sensitive",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ach/relationships/{0}/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": []
      }
    },
    "/ach/relationships/{param_0}/unlink/": {
      "post": {
        "operationId": "brokerage_post_ach_relationships_param_0_unlink",
        "summary": "Money Movement seed route",
        "description": "Personal route map entry. Risk: destructive. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [
          {
            "name": "param_0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder param_0. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "destructive",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ach/relationships/{0}/unlink/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": []
      }
    },
    "/ach/transfers/": {
      "post": {
        "operationId": "brokerage_post_ach_transfers",
        "summary": "Money Movement seed route",
        "description": "Personal route map entry. Risk: write-or-sensitive. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "write-or-sensitive",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ach/transfers/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": []
      }
    },
    "/activations/": {
      "get": {
        "operationId": "brokerage_get_activations",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "nummus.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://nummus.robinhood.com/activations/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "portfolio-home"
        ]
      }
    },
    "/advisory/fees/": {
      "get": {
        "operationId": "brokerage_get_advisory_fees",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/advisory/fees/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ]
      }
    },
    "/app-comms/batch/surface/info-banner/": {
      "get": {
        "operationId": "brokerage_get_app_comms_batch_surface_info_banner",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "currency_pair_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "locations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/app-comms/batch/surface/info-banner/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root",
          "account-transfers",
          "crypto-btc",
          "etf-qqq",
          "etf-spy",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/app-comms/receipt/seen/{uuid}/": {
      "post": {
        "operationId": "brokerage_post_app_comms_receipt_seen_uuid",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: write-mutate. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "write-mutate",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/app-comms/receipt/seen/{uuid}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/app-comms/surface/{id}/": {
      "get": {
        "operationId": "brokerage_get_app_comms_surface_id",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/app-comms/surface/{id}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-contact",
          "account-documents",
          "account-history",
          "account-notifications",
          "account-root",
          "account-security",
          "account-settings",
          "account-statements",
          "account-transfers",
          "crypto-btc",
          "etf-qqq",
          "etf-spy",
          "markets",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-nvda-options",
          "stock-tsla"
        ]
      }
    },
    "/app-comms/surface/alert-sheet": {
      "get": {
        "operationId": "brokerage_get_app_comms_surface_alert_sheet",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "currency_pair_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/app-comms/surface/alert-sheet"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-contact",
          "account-documents",
          "account-history",
          "account-notifications",
          "account-root",
          "account-security",
          "account-settings",
          "account-statements",
          "account-transfers",
          "crypto-btc",
          "etf-qqq",
          "etf-spy",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/app-comms/surface/hero-card": {
      "get": {
        "operationId": "brokerage_get_app_comms_surface_hero_card",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/app-comms/surface/hero-card"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/app-comms/surface/status-banner": {
      "get": {
        "operationId": "brokerage_get_app_comms_surface_status_banner",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/app-comms/surface/status-banner"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-contact",
          "account-documents",
          "account-history",
          "account-notifications",
          "account-root",
          "account-security",
          "account-settings",
          "account-statements",
          "account-transfers",
          "crypto-btc",
          "etf-qqq",
          "etf-spy",
          "markets",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-nvda-options",
          "stock-tsla"
        ]
      }
    },
    "/banking/cross-sell/creditcard/applications/{uuid}": {
      "get": {
        "operationId": "brokerage_get_banking_cross_sell_creditcard_applications_uuid",
        "summary": "Money Movement seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/banking/cross-sell/creditcard/applications/{uuid}"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "portfolio-home"
        ]
      }
    },
    "/bw/config": {
      "get": {
        "operationId": "brokerage_get_bw_config",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/bw/config"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ]
      }
    },
    "/cards/declined_transactions/": {
      "get": {
        "operationId": "brokerage_get_cards_declined_transactions",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "suspicious_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "minerva.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://minerva.robinhood.com/cards/declined_transactions/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ]
      }
    },
    "/cash_journal/margin_interest_charges/": {
      "get": {
        "operationId": "brokerage_get_cash_journal_margin_interest_charges",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account",
          "history-documents"
        ],
        "parameters": [
          {
            "name": "default_to_all_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/cash_journal/margin_interest_charges/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ]
      }
    },
    "/ceres/v1/{id}": {
      "get": {
        "operationId": "brokerage_get_ceres_v1_id",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ceres/v1/{id}"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ]
      }
    },
    "/ceres/v1/{id}/{id}": {
      "get": {
        "operationId": "brokerage_get_ceres_v1_id_id",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          },
          {
            "name": "onboardingType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ceres/v1/{id}/{id}"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root"
        ]
      }
    },
    "/ceres/v1/accounts": {
      "get": {
        "operationId": "brokerage_get_ceres_v1_accounts",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "rhsAccountNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ceres/v1/accounts"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-documents",
          "account-history",
          "account-root",
          "account-statements",
          "portfolio-home"
        ]
      }
    },
    "/ceres/v1/accounts/{id}/aggregated_positions": {
      "get": {
        "operationId": "brokerage_get_ceres_v1_accounts_id_aggregated_positions",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ceres/v1/accounts/{id}/aggregated_positions"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root",
          "portfolio-home"
        ]
      }
    },
    "/ceres/v1/accounts/{id}/orders": {
      "get": {
        "operationId": "brokerage_get_ceres_v1_accounts_id_orders",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account",
          "orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          },
          {
            "name": "contractType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "orderState",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ceres/v1/accounts/{id}/orders"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "account-root",
          "portfolio-home"
        ]
      }
    },
    "/ceres/v1/accounts/{id}/pnl_cost_basis": {
      "get": {
        "operationId": "brokerage_get_ceres_v1_accounts_id_pnl_cost_basis",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ceres/v1/accounts/{id}/pnl_cost_basis"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "portfolio-home"
        ]
      }
    },
    "/ceres/v1/cash_settlement_executions": {
      "get": {
        "operationId": "brokerage_get_ceres_v1_cash_settlement_executions",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ceres/v1/cash_settlement_executions"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ]
      }
    },
    "/ceres/v1/futures_account_eligibility/{num}": {
      "get": {
        "operationId": "brokerage_get_ceres_v1_futures_account_eligibility_num",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder num. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ceres/v1/futures_account_eligibility/{num}"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root"
        ]
      }
    },
    "/ceres/v1/manual_cash_correction": {
      "get": {
        "operationId": "brokerage_get_ceres_v1_manual_cash_correction",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ceres/v1/manual_cash_correction"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ]
      }
    },
    "/ceres/v1/user_settings": {
      "get": {
        "operationId": "brokerage_get_ceres_v1_user_settings",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ceres/v1/user_settings"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-contact",
          "account-documents",
          "account-history",
          "account-notifications",
          "account-root",
          "account-security",
          "account-settings",
          "account-statements",
          "account-transfers",
          "crypto-btc",
          "etf-qqq",
          "etf-spy",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/challenge/{param_0}/respond/": {
      "get": {
        "operationId": "brokerage_get_challenge_param_0_respond",
        "summary": "Auth seed route",
        "description": "Personal route map entry. Risk: read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "param_0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder param_0. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/challenge/{0}/respond/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": []
      }
    },
    "/combo/orders/": {
      "get": {
        "operationId": "brokerage_get_combo_orders",
        "summary": "Orders seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "orders"
        ],
        "parameters": [
          {
            "name": "account_numbers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "equity_instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "states",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/combo/orders/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "etf-qqq",
          "etf-spy",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/corp_actions/adr_fees/": {
      "get": {
        "operationId": "brokerage_get_corp_actions_adr_fees",
        "summary": "History Documents seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "history-documents"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "account_numbers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "default_to_all_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/corp_actions/adr_fees/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/corp_actions/drip/enrollment/{num}/": {
      "get": {
        "operationId": "brokerage_get_corp_actions_drip_enrollment_num",
        "summary": "History Documents seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "history-documents"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder num. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/corp_actions/drip/enrollment/{num}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root"
        ]
      }
    },
    "/corp_actions/v2/split_payments/": {
      "get": {
        "operationId": "brokerage_get_corp_actions_v2_split_payments",
        "summary": "History Documents seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "history-documents"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "account_numbers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "instrument_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/corp_actions/v2/split_payments/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ]
      }
    },
    "/crypto-transfers/account/": {
      "get": {
        "operationId": "brokerage_get_crypto_transfers_account",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account",
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/crypto-transfers/account/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ]
      }
    },
    "/crypto-yields/v1/history/": {
      "get": {
        "operationId": "brokerage_get_crypto_yields_v1_history",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "account_numbers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "currency_pair_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/crypto-yields/v1/history/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "crypto-btc"
        ]
      }
    },
    "/crypto/crypto_migrations": {
      "get": {
        "operationId": "brokerage_get_crypto_crypto_migrations",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/crypto/crypto_migrations"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ]
      }
    },
    "/crypto/cryptobility/{uuid}/": {
      "get": {
        "operationId": "brokerage_get_crypto_cryptobility_uuid",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/crypto/cryptobility/{uuid}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ]
      }
    },
    "/crypto/fundamental_stats/{uuid}/": {
      "get": {
        "operationId": "brokerage_get_crypto_fundamental_stats_uuid",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Seed map name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/crypto/fundamental_stats/{uuid}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ]
      }
    },
    "/crypto/transfers/history/": {
      "get": {
        "operationId": "brokerage_get_crypto_transfers_history",
        "summary": "Unknown seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "currency_pair_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/crypto/transfers/history/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "crypto-btc"
        ]
      }
    },
    "/currency_pairs/": {
      "get": {
        "operationId": "brokerage_get_currency_pairs",
        "summary": "Marketdata seed route",
        "description": "Personal route map entry. Risk: read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "marketdata",
          "unknown"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "nummus.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://nummus.robinhood.com/currency_pairs/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root",
          "crypto-btc",
          "portfolio-home"
        ]
      }
    },
    "/devices/": {
      "get": {
        "operationId": "brokerage_get_devices",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/devices/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-security"
        ]
      }
    },
    "/devices/disable_remove_device/": {
      "get": {
        "operationId": "brokerage_get_devices_disable_remove_device",
        "summary": "Account seed route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Seed response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/devices/disable_remove_device/"
        ],
        "x-robinhood-sources": [
[...]
