{
  "openapi": "3.1.0",
  "info": {
    "title": "Robinhood Unified API Map",
    "version": "0.1.0",
    "description": "Combined Robinhood map: official Robinhood Crypto Trading OpenAPI plus browser-backed brokerage/account route map. Crypto operations should use official Ed25519 signing; brokerage/account routes use caller-owned web/brokerage auth."
  },
  "servers": [
    {
      "url": "https://trading.robinhood.com",
      "description": "Official Robinhood Crypto Trading API"
    },
    {
      "url": "https://api.robinhood.com",
      "description": "Browser-backed brokerage/account API surface"
    },
    {
      "url": "https://bonfire.robinhood.com",
      "description": "Browser-backed Robinhood web API surface"
    },
    {
      "url": "https://nummus.robinhood.com",
      "description": "Browser-backed crypto/account web API surface"
    },
    {
      "url": "https://cashier.robinhood.com"
    },
    {
      "url": "https://dora.robinhood.com"
    },
    {
      "url": "https://identi.robinhood.com"
    },
    {
      "url": "https://minerva.robinhood.com"
    },
    {
      "url": "https://phoenix.robinhood.com"
    }
  ],
  "tags": [
    {
      "name": "V2 Account",
      "x-displayName": "Account"
    },
    {
      "name": "V2 Market Data",
      "x-displayName": "Market Data"
    },
    {
      "name": "V2 Trading",
      "x-displayName": "Trading"
    },
    {
      "name": "account",
      "description": "Account routes from the brokerage route map."
    },
    {
      "name": "auth",
      "description": "Auth routes from the brokerage route map."
    },
    {
      "name": "history-documents",
      "description": "History Documents routes from the brokerage route map."
    },
    {
      "name": "marketdata",
      "description": "Marketdata routes from the brokerage route map."
    },
    {
      "name": "money-movement",
      "description": "Money Movement routes from the brokerage route map."
    },
    {
      "name": "notifications",
      "description": "Notifications routes from the brokerage route map."
    },
    {
      "name": "options",
      "description": "Options routes from the brokerage route map."
    },
    {
      "name": "orders",
      "description": "Orders routes from the brokerage route map."
    },
    {
      "name": "telemetry-config",
      "description": "Telemetry Config routes from the brokerage route map."
    },
    {
      "name": "unknown",
      "description": "Unknown routes from the brokerage route map."
    },
    {
      "name": "watchlists",
      "description": "Watchlists routes from the brokerage route map."
    }
  ],
  "paths": {
    "/api/v1/crypto/trading/accounts/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Crypto Trading Account Details",
        "description": "Fetches the Robinhood Crypto account details for the current user.",
        "operationId": "api_v1_crypto_trading_account_Details",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"GET\" \"https://trading.robinhood.com/api/v1/crypto/trading/accounts/\" \\\n    -H 'x-api-key: <YOUR-API-KEY>' \\\n    -H 'x-timestamp: <timestamp unix>' \\\n    -H 'x-signature: <YOUR-MSG-SIGNATURE>' \\\n    -H 'Content-Type: application/json; charset=utf-8'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v1/crypto/trading/trading_pairs/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Get Crypto Trading Pairs",
        "description": "Fetch a list of trading pairs.",
        "operationId": "api_v1_crypto_trading_trading_pairs",
        "parameters": [
          {
            "name": "symbol",
            "description": "List of trading pair symbol(s) to retrieve data for.\n\nMultiple symbols can be provided by using the \"symbol\" parameter with different values. Ensure that the symbol(s) are provided in all uppercase.\n\nFor example, **?symbol=BTC-USD&symbol=ETH-USD**",
            "example": "BTC-USD",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Limit the number of results per page size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"GET\" \"https://trading.robinhood.com/api/v1/crypto/trading/trading_pairs/?symbol=BTC-USD\" \\\n    -H 'x-api-key: <YOUR-API-KEY>' \\\n    -H 'x-timestamp: <timestamp unix>' \\\n    -H 'x-signature: <YOUR-MSG-SIGNATURE>' \\\n    -H 'Content-Type: application/json; charset=utf-8'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "example": "https://trading.robinhood.com/api/v1/crypto/trading/trading_pairs/?cursor={CURSOR_ID}"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "example": "https://trading.robinhood.com/api/v1/crypto/trading/trading_pairs/?cursor={CURSOR_ID}"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TradingPair"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v1/crypto/trading/holdings/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Get Crypto Holdings",
        "description": "Fetch a list of holdings for the current user.",
        "operationId": "api_v1_crypto_trading_holdings",
        "parameters": [
          {
            "name": "asset_code",
            "description": "The asset code(s) to retrieve data for.\n\nMultiple asset codes can be provided by using the \"asset_code\" parameter with different values. Ensure that the asset codes are provided in all uppercase.\n\nFor example, **?asset_code=BTC&asset_code=ETH**",
            "example": "BTC",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Limit the number of results per page size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"GET\" \"https://trading.robinhood.com/api/v1/crypto/trading/holdings/?asset_code=BTC\" \\\n    -H 'x-api-key: <YOUR-API-KEY>' \\\n    -H 'x-timestamp: <timestamp unix>' \\\n    -H 'x-signature: <YOUR-MSG-SIGNATURE>' \\\n    -H 'Content-Type: application/json; charset=utf-8'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "example": "https://trading.robinhood.com/api/v1/crypto/trading/holdings?cursor={CURSOR_ID}"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "example": "https://trading.robinhood.com/api/v1/crypto/trading/holdings?cursor={CURSOR_ID}"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Holdings"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v1/crypto/trading/orders/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Get Crypto Orders",
        "description": "Fetch a list of orders for the current user.",
        "operationId": "api_v1_crypto_trading_orders",
        "parameters": [
          {
            "name": "created_at_start",
            "description": "Filter by created at start time range (greater than or equal to) in ISO 8601 format",
            "example": "2023-10-31T20:57:50Z",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_end",
            "description": "Filter by created at end time range (less than or equal to) in ISO 8601 format",
            "example": "2023-10-31T20:57:50Z",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "description": "Currency pair symbol. Ensure that the symbol is provided in all uppercase.",
            "example": "BTC-USD",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "description": "Order ID, unique per order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "side",
            "description": "Buy or sell",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "buy",
                "sell"
              ]
            }
          },
          {
            "name": "state",
            "description": "State of the order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "canceled",
                "partially_filled",
                "filled",
                "failed"
              ]
            }
          },
          {
            "name": "type",
            "description": "Type of order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "limit",
                "market",
                "stop_limit",
                "stop_loss"
              ]
            }
          },
          {
            "name": "updated_at_start",
            "description": "Filter by updated at start time range (greater than or equal to) in ISO 8601 format",
            "example": "2023-10-31T20:57:50Z",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_at_end",
            "description": "Filter by updated at end time range (less than or equal to) in ISO 8601 format",
            "example": "2023-10-31T20:57:50Z",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Limit the number of results per page size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"GET\" \"https://trading.robinhood.com/api/v1/crypto/trading/orders/\" \\\n    -H 'x-api-key: <YOUR-API-KEY>' \\\n    -H 'x-timestamp: <timestamp unix>' \\\n    -H 'x-signature: <YOUR-MSG-SIGNATURE>' \\\n    -H 'Content-Type: application/json; charset=utf-8'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "example": "https://trading.robinhood.com/api/v1/crypto/trading/orders/?cursor={CURSOR_ID}"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "example": "https://trading.robinhood.com/api/v1/crypto/trading/orders/?cursor={CURSOR_ID}"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      },
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Place New Crypto Order",
        "description": "Places a new crypto trading order with an order type. \n\n **Note**: Depending on the type used in the request body, you must include the respective order configuration in the request body.\n\nFor order configurations that support both `asset_quantity` or `quote_amount`, only one can be present in the request body.",
        "operationId": "api_v1_post_crypto_trading_order",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrder"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://trading.robinhood.com/api/v1/crypto/trading/orders/\" \\\n    -H 'x-api-key: <YOUR-API-KEY>' \\\n    -H 'x-timestamp: <timestamp unix>' \\\n    -H 'x-signature: <YOUR-MSG-SIGNATURE>' \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    --data-raw '{\"client_order_id\":\"131de903-5a9c-4260-abc1-28d562a5dcf0\",\"side\":\"buy\",\"type\":\"market\",\"symbol\":\"BTC-USD\",\"market_order_config\":{\"asset_quantity\":\"0.1\"}}' \n"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "write-mutate",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v1/crypto/trading/orders/{id}/cancel/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Cancel Open Crypto Order",
        "description": "Cancels an open crypto trading order.",
        "operationId": "api_v1_post_crypto_trading_cancel_order",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID, unique per order",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://trading.robinhood.com/api/v1/crypto/trading/orders/{id}/cancel/\" \\\n    -H 'x-api-key: <YOUR-API-KEY>' \\\n    -H 'x-timestamp: <timestamp unix>' \\\n    -H 'x-signature: <YOUR-MSG-SIGNATURE>' \\\n    -H 'Content-Type: application/json; charset=utf-8' \n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Success string with order id"
                },
                "example": "Cancel request was submitted for order {id}"
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "destructive",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v1/crypto/marketdata/best_bid_ask/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Best Price",
        "description": "Fetch a single bid and ask price per symbol, representing the best available price across our partner market makers. This price does not take into account the order size, and may not be the final execution price.\n\nThe bid and ask prices include a spread. The buy spread is the percent difference between the ask and the mid price. The sell spread is the percent difference between the bid and the mid price.\n\nNote that in the v2 endpoint, **Place crypto orders with fee tiers**, partner exchanges provide prices instead of market makers, with orders routed accordingly. For more information on routing, visit our [<u>Help Center</u>](https://robinhood.com/us/en/support/articles/crypto-order-routing/).",
        "operationId": "api_v1_crypto_marketdata_best_bid_ask",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "List of trading pair symbol(s) to retrieve data for.\n\nMultiple symbols can be provided by using the \"symbol\" parameter with different values. Ensure that the symbol(s) are provided in all uppercase.\n\nFor example, **?symbol=BTC-USD&symbol=ETH-USD**",
            "example": "BTC-USD",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"GET\" \"https://trading.robinhood.com/api/v1/crypto/marketdata/best_bid_ask/?symbol=BTC-USD\" \\\n    -H 'x-api-key: <YOUR-API-KEY>' \\\n    -H 'x-timestamp: <timestamp unix>' \\\n    -H 'x-signature: <YOUR-MSG-SIGNATURE>' \\\n    -H 'Content-Type: application/json; charset=utf-8' \n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BidAskPrice"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v1/crypto/marketdata/estimated_price/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Estimated Price",
        "description": "This endpoint returns the estimated total cost or credit for a particular symbol, book side, and asset quantity. You can include a list of quantities in a single request to retrieve the price for various hypothetical order sizes. \n\nThe estimated price represents the expected execution price if you were to subsequently place an order. To estimate the cost for a Buy order, request an Ask quote. If you are preparing to place a Sell order, request a Bid quote. The execution price may vary due to market volatility and once executed the transaction may not be undone.\n\nThe bid and ask prices are the best prices our market makers provide for an order, inclusive of a spread. The buy spread is the percent difference between the ask and the mid price. The sell spread is the percent difference between the bid and the mid price.",
        "operationId": "api_v1_crypto_marketdata_estimated_price",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "A string matching a valid currency pair, for example BTC-USD. Ensure that the symbol is provided in all uppercase.\n\nOnly USD symbols are accepted.",
            "example": "BTC-USD",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Order side. e.g. bid, ask, or both.",
            "example": "bid",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "bid",
                "ask",
                "both"
              ]
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "Quantity must be between `min_order_size` and `max_order_size` as defined in our `Get Crypto Trading Pairs` endpoint.\n\n A max of 10 quantities can be specified for each request.",
            "example": "0.1,1,1.999",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"GET\" \"https://trading.robinhood.com/marketdata/api/v1/estimated_price/?symbol=BTC-USD&side=ask&quantity=0.1,1,1.999\" \\\n    -H 'x-api-key: <YOUR-API-KEY>' \\\n    -H 'x-timestamp: <timestamp unix>' \\\n    -H 'x-signature: <YOUR-MSG-SIGNATURE>' \\\n    -H 'Content-Type: application/json; charset=utf-8' \n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EstimatedPrice"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v2/crypto/trading/accounts/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "V2 Account"
        ],
        "summary": "Get Accounts",
        "description": "Retrieve a paginated list of crypto trading accounts for the authenticated user. Returns account details including buying power, status, and fee tier information.",
        "operationId": "api_v2_crypto_trading_accounts",
        "parameters": [
          {
            "name": "cursor",
            "description": "Optional cursor for pagination. Use the value from `next` or `previous` in the response to navigate through pages.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Optional page size limit. Specifies the number of accounts to return per page. Maximum value is determined by system configuration.",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2AccountsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v2/crypto/trading/trading_pairs/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "V2 Trading"
        ],
        "summary": "Get Trading Pairs",
        "description": "Fetch a paginated list of available trading pairs for crypto trading. Returns trading pair details including price increments, order size limits, and tradability status. Trading pairs can be filtered by symbol.",
        "operationId": "api_v2_crypto_trading_trading_pairs",
        "parameters": [
          {
            "name": "symbol",
            "description": "Optional. Filter by trading pair symbol(s). Example: `symbol=BTC-USD`. Multiple symbols can be provided by using the \"symbol\" parameter with different values. Ensure that the symbol(s) are provided in all uppercase.\n\nFor example, `?symbol=BTC-USD&symbol=ETH-USD`.\n\nIf the \"symbol\" parameter is not provided, this endpoint will return all tradable currency pairs.",
            "example": "BTC-USD",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "description": "Optional cursor for pagination. Use the value from `next` or `previous` in the response to navigate through pages.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Optional page size limit. Specifies the number of results to return per page. Maximum value is determined by system configuration.",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TradingPairsResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v2/crypto/trading/holdings/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "V2 Trading"
        ],
        "summary": "Get Holdings",
        "description": "Retrieve a paginated list of crypto holdings for a specific account. Returns the total quantity and available quantity for each asset held in the account. The `account_number` query parameter is required.",
        "operationId": "api_v2_crypto_trading_holdings",
        "parameters": [
          {
            "name": "account_number",
            "description": "**Required.** The account number to retrieve holdings for. This parameter must be provided.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_code",
            "description": "Optional. Filter holdings by specific asset code (e.g., \"BTC\").",
            "example": "BTC",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "description": "Optional cursor for pagination. Use the value from `next` or `previous` in the response to navigate through pages.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Optional page size limit. Specifies the number of results to return per page. Maximum value is determined by system configuration.",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2HoldingsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v2/crypto/marketdata/best_bid_ask/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "V2 Market Data"
        ],
        "summary": "Get Best Price",
        "description": "Fetch a single bid and ask price per symbol, representing the best available price across our partner exchanges. This price does not take into account the order size or fee, and may not be the final execution price.",
        "operationId": "api_v2_crypto_marketdata_best_bid_ask",
        "parameters": [
          {
            "name": "symbol",
            "description": "List of trading pair symbol(s) to retrieve data for.\n\nMultiple symbols can be provided by using the \"symbol\" parameter with different values. Ensure that the symbol(s) are provided in all uppercase. Only USD symbols that have `is_api_tradable=true` as defined in our Get Crypto Trading Pairs endpoint are accepted.\n\nFor example, `?symbol=BTC-USD&symbol=ETH-USD`",
            "example": "BTC-USD",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BestBidAskResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "validation_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": "string"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v2/crypto/trading/estimated_price/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "V2 Market Data"
        ],
        "summary": "Get Estimated Price",
        "description": "This endpoint returns the estimated total cost or credit for a particular symbol, book side, asset quantity, and fee. You can include a list of quantities in a single request to retrieve the price for various hypothetical order sizes.\n\nThe estimated price represents the expected execution price if you were to subsequently place an order. The execution price may vary due to market volatility and once executed the transaction may not be undone.\n\nThe bid and ask prices are the best prices our partner exchanges provide for an order, excluding the fee.",
        "operationId": "api_v2_crypto_marketdata_estimated_price",
        "parameters": [
          {
            "name": "symbol",
            "description": "A string matching a valid currency pair, for example `BTC-USD`. Ensure that the symbol is provided in all uppercase. Only USD symbols that have `is_api_tradable=true` as defined in our Get Crypto Trading Pairs endpoint are accepted.",
            "example": "BTC-USD",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "description": "Order side: `bid`, `ask`, or `both`.",
            "example": "bid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "bid",
                "ask",
                "both"
              ]
            }
          },
          {
            "name": "quantity",
            "description": "Quantity must be smaller than `max_order_size` as defined in our Get Crypto Trading Pairs endpoint. Multiple quantities can be comma-separated. A max of 10 quantities can be specified for each request.",
            "example": "0.1,1,1.999",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2EstimatedPriceResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "validation_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": "string"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v2/crypto/trading/orders/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "get": {
        "tags": [
          "V2 Trading"
        ],
        "summary": "Get Orders",
        "description": "Fetch a list of orders for the current user in a specific account.",
        "operationId": "api_v2_crypto_trading_orders_get",
        "parameters": [
          {
            "name": "account_number",
            "description": "Required. The number of the crypto account to retrieve orders from.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "description": "Optional cursor for pagination.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_start",
            "description": "Filter orders created on or after this timestamp (ISO 8601 format).",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_end",
            "description": "Filter orders created on or before this timestamp (ISO 8601 format).",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_start",
            "description": "Filter orders updated on or after this timestamp (ISO 8601 format).",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_end",
            "description": "Filter orders updated on or before this timestamp (ISO 8601 format).",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "symbol",
            "description": "Filter orders by trading pair symbol.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "description": "Filter orders by side.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "buy",
                "sell"
              ]
            }
          },
          {
            "name": "type",
            "description": "Filter orders by type.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "market",
                "limit",
                "stop_loss",
                "stop_limit"
              ]
            }
          },
          {
            "name": "state",
            "description": "Filter orders by state.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "canceled",
                "filled",
                "failed",
                "pending"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2OrdersResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      },
      "post": {
        "tags": [
          "V2 Trading"
        ],
        "summary": "Place New Crypto Order",
        "description": "Place a new crypto trading order with an order type. This endpoint only supports placing orders on USD symbols that have `is_api_tradable=true` as defined in our Get Crypto Trading Pairs endpoint.\n\n**Note:** Depending on the type used in the request body, you must include the respective order configuration in the request body.\n\nFor order configurations that support both `asset_quantity` or `quote_amount`, only one can be present in the request body.",
        "operationId": "api_v2_crypto_trading_orders_post",
        "parameters": [
          {
            "name": "account_number",
            "description": "Required. The number of the crypto account to place orders from.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrderV2"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CryptoOrder"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "write-mutate",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/api/v2/crypto/trading/orders/{id}/cancel/": {
      "security": [
        {
          "API Key": [],
          "API Signature": [],
          "Timestamp": []
        }
      ],
      "post": {
        "tags": [
          "V2 Trading"
        ],
        "summary": "Cancel Open Crypto Order",
        "description": "Cancels an open crypto trading order.",
        "operationId": "api_v2_crypto_trading_cancel_order",
        "parameters": [
          {
            "name": "id",
            "description": "The ID of the order to cancel.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CryptoOrder"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "validation_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": "string"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "type": "client_error",
                  "errors": [
                    {
                      "detail": "string",
                      "attr": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-robinhood-source": "official-crypto-openapi",
        "x-robinhood-risk": "destructive",
        "x-robinhood-hosts": [
          "trading.robinhood.com"
        ],
        "servers": [
          {
            "url": "https://trading.robinhood.com"
          }
        ]
      }
    },
    "/acats-aggregation/fee_reimbursements/history": {
      "get": {
        "operationId": "brokerage_get_acats_aggregation_fee_reimbursements_history",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/acats-aggregation/fee_reimbursements/history"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/acats/": {
      "get": {
        "operationId": "brokerage_get_acats",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [
          {
            "name": "both_directions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com",
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/acats/",
          "https://bonfire.robinhood.com/acats/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "account-transfers"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/account_switcher/instrument/v2/{uuid}/": {
      "get": {
        "operationId": "brokerage_get_account_switcher_instrument_v2_uuid",
        "summary": "Unknown brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/account_switcher/instrument/v2/{uuid}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/": {
      "get": {
        "operationId": "brokerage_get_accounts",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "default_to_all_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_managed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_multiple_individual",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_multiple_individual_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "is_default",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com",
          "minerva.robinhood.com",
          "nummus.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/",
          "https://api.robinhood.com/accounts/?default_to_all_accounts=true",
          "https://minerva.robinhood.com/accounts/",
          "https://nummus.robinhood.com/accounts/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized",
          "community-seed"
        ],
        "x-robinhood-seen-on": [
          "account-contact",
          "account-documents",
          "account-history",
          "account-notifications",
          "account-root",
          "account-security",
          "account-settings",
          "account-statements",
          "account-transfers",
          "crypto-btc",
          "etf-qqq",
          "etf-spy",
          "markets",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-nvda-options",
          "stock-tsla"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/{id}/{id}": {
      "get": {
        "operationId": "brokerage_get_accounts_id_id",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/{id}"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/{id}/currency_buying_power/{uuid}/info_alert": {
      "get": {
        "operationId": "brokerage_get_accounts_id_currency_buying_power_uuid_info_alert",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/currency_buying_power/{uuid}/info_alert"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/{id}/currency_buying_power/USD": {
      "get": {
        "operationId": "brokerage_get_accounts_id_currency_buying_power_usd",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/currency_buying_power/USD"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/{id}/instrument_buying_power/{uuid}/": {
      "get": {
        "operationId": "brokerage_get_accounts_id_instrument_buying_power_uuid",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder uuid. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/instrument_buying_power/{uuid}/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/{id}/unified/": {
      "get": {
        "operationId": "brokerage_get_accounts_id_unified",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder id. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "bonfire.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://bonfire.robinhood.com/accounts/{id}/unified/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "etf-qqq",
          "etf-spy",
          "portfolio-home",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/{num}/buying_power_breakdown": {
      "get": {
        "operationId": "brokerage_get_accounts_num_buying_power_breakdown",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder num. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/{num}/buying_power_breakdown"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "portfolio-home"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/{param_0}/recent_day_trades/": {
      "get": {
        "operationId": "brokerage_get_accounts_param_0_recent_day_trades",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "param_0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder param_0. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/{0}/recent_day_trades/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "crypto-btc"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/stock_loan_payments/": {
      "get": {
        "operationId": "brokerage_get_accounts_stock_loan_payments",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "account_numbers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/stock_loan_payments/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history",
          "etf-qqq",
          "etf-spy",
          "stock-aapl",
          "stock-hood",
          "stock-nvda",
          "stock-tsla"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/sweeps/": {
      "get": {
        "operationId": "brokerage_get_accounts_sweeps",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_numbers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "default_to_all_accounts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "include_managed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/sweeps/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-history"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/sweeps/interest/": {
      "get": {
        "operationId": "brokerage_get_accounts_sweeps_interest",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/sweeps/interest/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root",
          "portfolio-home",
          "stock-nvda",
          "stock-tsla"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/sweeps/timeline_summary/": {
      "get": {
        "operationId": "brokerage_get_accounts_sweeps_timeline_summary",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          },
          {
            "name": "datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/accounts/sweeps/timeline_summary/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-26-stock-account-sanitized",
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-root",
          "stock-nvda",
          "stock-tsla"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/accounts/unified": {
      "get": {
        "operationId": "brokerage_get_accounts_unified",
        "summary": "Account brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "phoenix.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://phoenix.robinhood.com/accounts/unified"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": [],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/ach/deposit_schedules/": {
      "get": {
        "operationId": "brokerage_get_ach_deposit_schedules",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "cashier.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://cashier.robinhood.com/ach/deposit_schedules/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-transfers"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/ach/received/transfers/": {
      "get": {
        "operationId": "brokerage_get_ach_received_transfers",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "read",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ach/received/transfers/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": [],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/ach/relationships/": {
      "get": {
        "operationId": "brokerage_get_ach_relationships",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [
          {
            "name": "exclude_unlinked",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Observed query key from route templates or sanitized browser capture; values are intentionally not stored."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "cashier.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://cashier.robinhood.com/ach/relationships/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "account-transfers"
        ],
        "x-robinhood-source": "brokerage-browser-map"
      },
      "post": {
        "operationId": "brokerage_post_ach_relationships",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: write-or-sensitive. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "write-or-sensitive",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ach/relationships/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": [],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/ach/relationships/{param_0}/": {
      "post": {
        "operationId": "brokerage_post_ach_relationships_param_0",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: write-or-sensitive. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [
          {
            "name": "param_0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder param_0. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "write-or-sensitive",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ach/relationships/{0}/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": [],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/ach/relationships/{param_0}/unlink/": {
      "post": {
        "operationId": "brokerage_post_ach_relationships_param_0_unlink",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: destructive. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [
          {
            "name": "param_0",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route placeholder param_0. Mapped route name; live verification should replace with a semantic parameter name when known."
          }
        ],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "destructive",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ach/relationships/{0}/unlink/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": [],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/ach/transfers/": {
      "post": {
        "operationId": "brokerage_post_ach_transfers",
        "summary": "Money Movement brokerage route",
        "description": "Personal route map entry. Risk: write-or-sensitive. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "money-movement"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "write-or-sensitive",
        "x-robinhood-hosts": [
          "api.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://api.robinhood.com/ach/transfers/"
        ],
        "x-robinhood-sources": [
          "community-seed"
        ],
        "x-robinhood-seen-on": [],
        "x-robinhood-source": "brokerage-browser-map"
      }
    },
    "/activations/": {
      "get": {
        "operationId": "brokerage_get_activations",
        "summary": "Unknown brokerage route",
        "description": "Personal route map entry. Risk: sensitive-read. Live execution requires ROBINHOOD_BROKERAGE_TOKEN or ROBINHOOD_COOKIE. Use dryRun/--dry-run to avoid sending.",
        "tags": [
          "unknown"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response shape not yet live-verified.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-robinhood-risk": "sensitive-read",
        "x-robinhood-hosts": [
          "nummus.robinhood.com"
        ],
        "x-robinhood-route-templates": [
          "https://nummus.robinhood.com/activations/"
        ],
        "x-robinhood-sources": [
          "cdp-2026-05-27-stock-account-sanitized"
        ],
        "x-robinhood-seen-on": [
          "portfolio-home"
        ],
[...]
